.coin-selector {
  float: left;
  overflow-y: scroll;
  height: 100vh;
  width: 385px;
}
.coin-selector ul {
  list-style: none;
}
.coin-selector li {
  cursor: pointer;
}

.coin-selector li:hover {
  color: green;
}

.coin-selector li.selected:hover {
  color: red;
}
.coin-selector .selected {
  color: green;
}
